- content_for :title do
	= @visit.url.title


- if @visit.is_expired?
	.row
		.small-10.columns.small-centered
			.counter
				%h3.subheader
					= "Sorry, this link has expired :-("
- else
	.row
		.small-10.columns.small-centered
			.counter
				%h3.subheader
					Welcome #{@visit.contact.name}. Thank you for checking out our link. Enjoy it because you can only access it once.