- content_for :title do
	= @visit.url.title


- if @visit.is_expired?
	.row
		.small-10.columns.small-centered
			.counter
				%h3.subheader
					= "Sorry, this link has expired :-("
- else
	- if is_mobile_device?
		.row
			.small-10.columns.small-centered
				%img{:src => "/assets/sportsman.jpg"}
	- else
		.row
			.small-10.columns.small-centered
				.counter
					%h3.subheader
						= "Sorry, this link is only visibile on the mobile it was sent to"