.splash
  .row
    .large-12.small-12.columns.hero
      %a{:href => "/"}
        %img.logo{:src => "/assets/logo.png"}
  .row
    .large-12.large-centered.columns.tagline
      %small
        Easily reward your engaging customers with discounts straight to their inbox.
