.splash
  .row
    .large-12.large-centered.columns.hero
      %img.logo{:src => "/assets/logo.png"}
  .row
    .large-12.large-centered.columns.tagline
      %h1
        Email is cool again
      %small
        Send simple beautiful marketing and transactional email
.features.primary
  .row
    .large-2.columns
      %h2
        Features
    .large-10.columns

.highlights.primary
  .row
    .large-5.columns
      .tagline
        %h3
          Send Better Email
        %h4
          Join the companies already using pepe
    .large-7.columns
      .examples
        %img{:src => "/assets/examples.png" }
.features.secondary
.highlights.secondary
  .row
    .large-5.columns
      .contacts
        %img{:src => "/assets/features_contacts.png"}
    .large-7.columns
