.splash
  .row
    .large-12.small-12.columns.hero
      %img.logo{:src => "/assets/logo.png"}
  .row
    .large-12.large-centered.columns.tagline
      %small
        Send simple & Beautiful email. Delight your customers.
    .large-2.columns
%footer
  .row
    .large-12.small-12.large-centered.small-centered.columns
      %img{:src => "/assets/large_hero.png"}