development:
  MANDRILL_APIKEY: <ENTER_KEY>
  MANDRILL_USERNAME: <ENTER_USERNAME>
  PROXIMO_URL: <PROXIMO_URL>
  BASE_URL: http://localhost:3000/
  SMS_GATEWAY: <SMS_GATEWAY>
  SERVICE_ID: <SERVICE_ID>
  CHANNEL_ID: <CHANNEL_ID>
  PASSWORD: <PASSWORD>
  GATEWAY_URL: <URL>
  DISALLOWED_USER_AGENTS: "Mozilla/5.0 (compatible; TweetmemeBot/3.0; +http://tweetmeme.com/)"
