$small-screen: 768px;
$medium-screen: em-calc(1280);
$large-screen: em-calc(1440);

$screen: "only screen";
$small: "only screen and (max-width:"#{$small-screen}")";
$medium: "only screen and (min-width:"#{$medium-screen}")";
$large: "only screen and (min-width:"#{$large-screen}")";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";