/**
 *= require foundation_and_overrides
 *= require base
 *= require_self
*/


.top-bar .name h1 {
  color: #ffffff;
}

#main {
  margin-top: 45px;
}

.signup {
  margin-top: 150px;

  .logo {
    margin-top: 50px;
  }

  a {
    color: #6d276f;
  }
}


#error_explanation {
  h2 {
    font-size: 0.9em;
  }

  ul {
    margin-left: 20px;
    font-size: .8em;
  }
}

.subheader {
  border-bottom: 1px solid #6f6f6f;
}


