/**
 *= require foundation_and_overrides
 *= require base
 *= require datepicker


 *= require_self
*/


.top-bar .name h1 {
  color: #ffffff;
}

#main {
  //margin-top: 45px;
}

.signup {
  margin-top: 150px;

  .logo {
    margin-top: 50px;
  }

  a {
    color: #6d276f;
  }
}


#error_explanation {
  h2 {
    font-size: 0.9em;
  }

  ul {
    margin-left: 20px;
    font-size: .8em;
  }
}

.sidebar {
  .subheader {
    border-bottom: none;
  }

  p {
    font-size: .8em;
  }
}

.subheader {
  border-bottom: 1px solid #e6e6e6;

  .button {
    float: right;
  }

  small {
    font-weight: bold;
    color: #161515;
  }
}

.fields {
  margin-bottom: 20px;
}

.datepicker td.active.day, .datepicker th.active.day {
  background: #000000;
  color: #ffffff;
}


.edit_campaign textarea {
  height: 200px;
}

.campaigns {
  .minicolors-theme-default .minicolors-swatch {
    top: 1px;
    left: 0px;
  }
}


