body {
  background-color: #fdeecd;
}
body.admin {
  background-color: #ffffff;

  header {
    //margin-bottom: 40px;
  }
}

.spacer {
  margin-top: 10px;
}

.contain-to-grid {
  .top-bar {
    max-width: 980px;
    margin: 0 auto;

    .name {
      h1 {
        a.help {
          color: #707070;
          text-transform: uppercase;
          font-weight: normal;
          font-size: 13px;
        }
      }
    }

    .top-bar-section ul li > a {
      color: #707070;
      font-weight: normal;
      text-transform: uppercase;
    }

    %ul {
      %li {
        %a {
          color: #707070;
        }
      }
    }
  }
}

.primary-icons {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(/assets/primary_icons.png) no-repeat;
}

.primary-icons .campaign {

}