// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$small-screen: emCalc(768);
$medium-screen: emCalc(1280);
$large-screen: emCalc(1440);

$screen: "only screen";
$small: "only screen and (min-width:"#{$small-screen}")";
$medium: "only screen and (min-width:"#{$medium-screen}")";
$large: "only screen and (min-width:"#{$large-screen}")";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";

label.inline {
  display: inline-block;
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  min-height: 200px;
}

.fixed {
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99;
}



//.splash {
//  background-image: url(/assets/hero.png);
//  background-position: bottom center;
//  background-repeat: repeat-x;
//  min-height: 450px;
//}

.highlights {
  background-color: #fd8c6a;


  .tagline {
    margin-top: 100px;
    text-align: left;
    margin-bottom: 50px;
  }

  h3 {
    color: #ffffff;
    margin-bottom: 0px;
  }

  h4 {
    color: #161515;
    font-weight: 200;
  }

  .contacts {
    margin: 15px auto;
  }

  .highlight {
    margin-top: 70px;

    h1 {
      color: #ffffff;
      font-size: 2.2em;
    }
  }
}

.top-bar ul.right {
  float: right;
  width: auto;
  margin-bottom: 0;
}

.hero {
  //min-height: 318px;

  .logo {
    display: block;
    margin: 50px auto 20px auto;
  }
}

.features {
  background-color: #ffffff;
  min-height: 50px;



  h2 {
    font-weight: 100;
    margin-bottom: 5px;
  }
}

.features.secondary {
  min-height: 200px;
}

.tagline {
  text-align: center;
  margin-bottom: 20px;
  h1 {
    font-size: 50px;
    margin-bottom: 0px;
    color: #d8373e;
    font-weight: 100;
    margin-left: 20px;
    font-family: 'Varela', sans-serif;
  }

  small {
    font-size: 30px;
    color: #a69f91;
    margin-left: 20px;
    font-weight: 100;

  }
}


button, .button {
  box-shadow: none;
  color: #d8373e;
  font-weight: 200;
}

.signup {

  button, .button {
    line-height: 1.7em;
  }

  text-align: left;

  .register {
    margin-top: 35px;
    margin-left: -170px;
  }
}

.register-mobile {
  margin-top: -42px;
  margin-right: 5px;
  float: right;
}

@media only screen and (min-width: 768px) {
  .register-mobile {
    margin-top: 0px;
  }
}

button:hover, .button:hover {
  color: #d8373e;
}

.join {
  min-height: 200px;

  input[type="text"],
  input[type="email"] {
    height: 40px;
  }

  .field {
    label {
      display: inline-block;
    }
  }

  .signup {
    h3 {
      color: #161515;
      font-weight: 100;
      float:left;
    }
  }
}

.coupons {
  .about {
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
    height: 100%;
    min-height: 500px;
    margin-top: 30px;
  }
}

.examples {
  margin-top: 20px;
}

