/*
*= require_self
*= require foundation_and_overrides
*= require foundation-icons
*/

.social-media-icons {
	float: right;
	margin-top: 10px;
	margin-right: 30px;

	.link {
		display: inline-block;
		margin-right: 5px;
		position: relative;
	}

	i {
		font-size: 18px;
		color: #ffffff;
	}

	a {
		font-size: 12px;
		font-weight: 700;
		position: relative;
		top: -3px;
	}
}

.main {
	background-color: #ffffff;
	min-height: 100px;
	max-width: 600px;
	padding-top: 17px;
	padding-bottom: 17px;

	h1 {
		text-transform: uppercase;
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 1.8em;
	}

	h2 {
		font-weight: 100;
		font-size: 21px;
		margin-bottom: 0px;
	}

	h3 {
		font-weight: 100;
		margin-top: 0px;
		font-size: 1.17em;
	}
}