.visits {
	#main {
		margin-top: 30px;
		.counter {
			text-align: center;
			background: rgba(234,239,242,0.25);
			// border-left: 6px solid rgba(0,83,159,0.65);
			margin-top: 15px;
			background-image: url("/assets/blueprint-dark.png");
			background-position: top center;
			background-repeat: repeat;
		}
	}
}