.row
	.large-3.columns
		%img{:src => "/assets/synqlogo.png"}
	.large-9.columns
.row.spacer
	.large-6.columns.large-centered
		%h6
			MESSAGE SENT
.row.spacer
	.large-6.columns.large-centered
		%a.button{:href => synq_index_path}
			BACK
