- flash.each do |name, msg|
  - if msg.is_a?(String)
    .row.spacer
      .large-8.large-centered.columns
        .alert-box.secondary
          = msg
          %a.close{:href => "#"}
            &times;
