.navbar-bg
  .fixed.contain-to-grid
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1
            %a.help{:href => "mailto:hello@pepemail.co.ke"}
              = t(:help)
      -#.signup
        %a.button.radius.large.register-mobile
          Sign Up
      -#%section.top-bar-section
        %ul.right
          %li.divider
          %li
            %a
              About
          %li.divider
          %li
            %a
              Pricing
          %li.divider
          %li
            %a
              Blog
          %li.divider
