.navbar-bg
  .fixed.contain-to-grid
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1
            %a.help{:href => "http://blog.pepemail.co.ke"}
              -#.visible-for-small.hide-for-large
              = t(:blog)
              -#.visible-for-large.hide-for-small.hide-for-medium
                = t(:help)
      .signup
        %a.button.radius.large.register-mobile{"data-reveal-id" => "sign-up-form"}
          Sign Up
      -#%section.top-bar-section
        %ul.right
          -#%li.divider
          -#%li
            %a
              About
          -#%li.divider
          -#%li
            %a
              Pricing
          %li.divider
          %li
            %a
              Blog
          %li.divider
