.navbar-bg
  .fixed.contain-to-grid
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1
            %a.help{:href => "/"}
              HOME
      %section.top-bar-section
        %ul.right
          %li.divider
          %li
            %a
              %a.help{:href => "http://blog.pepemail.co.ke"}
                = t(:blog)
          %li.divider
          %li
            %a{:href => 'coupons'}
              Coupons
          %li.divider
          %li
            %a.sign-up{:href => '#'}
              Sign-up
          %li.divider
          - if Rails.env == "development"
            %li
              %a.log-in{:href => new_user_session_path}
                Log-in
