!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : t(:title)
    = stylesheet_link_tag "public"
    = yield(:head)
  %body
    = yield